@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /*========== Colors ==========*/
  --hue: 240;
  --first-color: #9c88ff;
  --first-color-alt: #9c88ff9d;
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  /*========== z index ==========*/
  --z-modal: 1000;
  overflow:hidden;
}
* {
  box-sizing: border-box;
  overflow:hidden;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 30px;
  padding: 10px;
  width: 64px;
  height: 64px;
  border-radius: 100%;

  position: fixed;
  bottom: 0;
  right: 0;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  max-height: 40vh;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/*=============== MODAL ===============*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;

  height: 85vh;
  padding-top: 100px;
}

.modal {
  height: 100%;
  display: grid;
  place-items: center;
}

.modal__button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

.modal__button:hover {
  background-color: var(--first-color-alt);
}

.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 75%, 0.8);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content {
  position: relative;
  background-color: var(--container-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.5s;

  /*=== Effect 1 ===*/
  transform: translateY(10%);

  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
    transform-origin: 50% 100%; */
}

.modal__img {
  width: 150px;
  margin-bottom: 0.75rem;
}

.modal__close {
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title {
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 500;
}

.modal__description {
  margin-bottom: 1.5rem;
}

.modal__button-width {
  width: 90%;
}

.modal__button-link {
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 500;
}

/* Show modal */
.show-modal {
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content {
  /*=== Effect 1 ===*/
  transform: translateY(0);

  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px) {
  .modal__content {
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal__img {
    width: 170px;
  }
}
